header {
    background: yellow;
    padding: 12px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
header .search-block {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: yellow;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.logo img {
    height: 30px;
}
.footer-copy {
    display: grid;
    align-content: space-between;
}
.footer-nav {
    display: grid;
    gap: 10px;
}
.footer-nav a:hover {
    color: orange;
}
.header-menu,
.header-menu>span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-menu>span>* {
    cursor: pointer;
}
.header-menu svg:hover {
    fill: orange;
}

@media (min-width: 576px){
  header {
    flex-wrap: no-wrap;
  }
  header .search-block {
    order: 0;
    width: auto;
  }
}
