.banner {
    /* background-size: contain;
    background-position: center; */
    min-height: 300px;
    max-height: 50vh;
    padding: 30px;
    border-radius: 20px;
}
.banner__text {
    font-size: 2rem;
}
.banner__caption {
    font-size: 3rem;
}
